<h2>Hello dear {{ userfullname }}</h2>



<h2> Congratulations! You have passed the test for the best oil selection, which is right for you. You will be happy with your choice. Here is the result.<h2>

{{ page.content }}

<h4> Never forget the risk of encountering microbial contamination! </h4>
<h4><I hope you are happy with the result. Thank you for choosing our site.</h4>