{{ items.footer }}
<div class="hello"> 
      ©2017 Lorem ipsum dolor sit amet, consectetur edipiscin elit sed du elusmod tempor encididud ut labore at dolore magna aliqua. Ud anim end minimum, quis mostud exercitation uliamco laboris.
</div>