<div class="main-frontpage-block">
  <div class="container">
    {{ items.care }}
  <div class="if-regist">
  <div class="if-text"> 
    {{ items.its }}
  </div>
  <div class="if-link"> 
    {{ items.link }}
  </div> 
  </div>
  </div>
</div>