<div class="result-text">
	<div class="container">
		<h3 class="result-congr"> Congratulations! You have passed the test for the best oil selection, which is right for you.</h3> 
		<h3 class="result-res">Here is the result.</h3>
		<div class="result-main">
			{{ text }}.
		</div>
		<h4 class="result-risk"> Never forget the risk of encountering microbial contamination! </h4>
		<h4 class="result-info">I hope you are happy with the result. Thank you for choosing our site.</h4>
	</div>
</div>