

{# Header block #}
<div class="container"> 
  <div class="logo-header">
    {{ items.branding }}
  </div>
  <div class="header-menu">
    {{ items.footer }}
  </div>      
</div>
{# ./Header block #}