{# Header block #}
<div class="bg-image" style="background: url('{{ items.background }}');">
	<div class="bg-fon">
		<div class="container"> 
		  <div class="logo-header">
		    {{ items.branding }}
		  </div>
		  <div class="header-mobile-menu">
		  	<a id="hel-hel" href="#">Home</a>
		  </div>
		  <div class="header-menu">
		    {{ items.footer }}
		  </div>      
		</div>
	</div>
</div>
{# ./Header block #}