	<div class="container">
		<h3 class="result-res">Here is the result.</h3>
		<div class="result-main" style="color: #1377d5;">
			{{ text }}
		</div>
		<h4 class="result-risk"> Never forget the risk of encountering microbial contamination! </h4>
	</div>