.container {
	width: 800px;
}

.has-error input[type="radio"] {
  outline: 1px solid @state-danger-text;
}

#edit-question5-0.has-error {
	color: red;
}

#edit-question10--wrapper {
	display: none;
}

#edit-question10--wrapper.active {
	display: block;
}

#edit-question21--wrapper {
	display: none;
}

.site-slogan {
	position: absolute;
	top: 130px;
	opacity: 0.9;
	color: white;
}

.site-name {
	font-size: 70px;
	color: white;
	position: absolute;
	top: 30px;
}

.main-frontpage-block td.views-field:nth-child(1) > a:nth-child(1) {
	font-size: 30px;
	color: black;
}

.site-logo img {
	max-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
}

.main-frontpage-block td.views-field:nth-child(2) {
	float: left;
	margin-left: 20px;
}

.main-frontpage-block {
	margin-top: 40px;
	margin-bottom: 30px;
}


#edit-question13--wrapper {
	display: none;
}

#edit-question13--wrapper.open {
	display: block;
	height: auto;
}

#edit-field-full-name-wrapper {
	width: 26.4%;
	float: left;
	display: inline-block;
}

#edit-field-full-name-0-value {
	width: 80%;
	display: inline-grid;
}

#edit-field-company-wrapper {
	width: 26.4%;
	float: left;
	display: inline-block;
}

#edit-field-company-0-value {
	width: 80%;
	display: inline-grid;
}

#edit-field-city-wrapper {
	width: 26.4%;
	float: left;
	display: inline-block;
}

#edit-field-city-0-value {
	width: 80%;
	display: inline-grid;
}

#edit-field-city-wrapper label {
	display: grid !important;
	margin-left: 20%;
}

#edit-field-monthly-wrapper {
	width: 20.8%;
	display: inline-block;
	float: left;
}

#edit-field-monthly {
	width: 100%;
}

.account-info {
	width: 100%;
	float: left;
}

.personal-info {
	width: 100%
}

.account-mail {
	width: 26.4%;
	float: left;
	display: inline-block;
}

.account-mail label {
	display: grid;
}

#edit-mail {
	width: 80%;
	float: left;
	padding-left: 10px;
	border: 1px solid #d7d7d7;
}

.account-pass {
	width: 73.6%;
	float: left;
	display: inline-block;
}

#edit-pass-pass1 {
	display: grid;
}

#edit-pass .category-block {
	float: left;
	width: 35.8%;
}

div.password-confirm {
	display: none;
}

#edit-pass-pass2 {
	width: 80%;
}

#edit-pass-pass1 {
	width: 80%;
}

.feed-icon {
	display: none !important;
}

footer {
	left: 0;
	bottom: 0;
	color: #fff;
	width: 100%;
	padding-top: 50px;
}

#user-register-form {
	margin-top: 0;
}

body.front {
	background: rgba(0, 0, 0, 0) url('/themes/custom/survey/images/hello.png') no-repeat scroll 0 0;
	-webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 100%;
}

html.bagr {
	-webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100%;
}


#block-sitebranding {
	height: 100% !important;
	width: 27% !important;
	padding-top: 15px;
}


.logo-header #block-sitebranding {
	display: inline-block;
}

.logo-header .header-menu {
	display: inline-block;
	float: right;
	padding-top: 20px;
}

.logo-header .header-menu #block-footer ul li a {
	color: white;
}

.front #block-topheaderblock-2 {
	height: 100px;
	padding-bottom: 30px;
	margin-bottom: 50px;
}

#block-frontpage {
	width: 39%;
	margin: auto;
	margin-top: 6%;
}

.lorem-title {
	color: white;
	font-size: 48px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0 !important;
}

.lorem-text {
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 1.718em !important;
}


#block-frontpage a.letsgo {
	display: block;
  background-color: #5fb760;
  width: 20%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  top: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 44px;
}



#block-footerblock {
  padding-top: 0;
  padding-bottom: 0;
  background-color: inherit;
}

.hello {
  font-size: 11px;
  color: #cccfd2;
  width: 100%;
  float: left;
}

#block-footer--2 ul li {
  list-style: none;
  margin-left: 20px;
  display: inline-block;
  float: left;
}

#block-footer--2 ul li:first-child {
	margin-left: 0;
}

.front #block-footer--2 ul li a {
  list-style: none;
  display: inline-block;
  float: left;
  color: white;
}

.front #block-footer ul li a {
  list-style: none;
  display: inline-block;
  float: left;
  color: white;
}

#block-footer--2 ul li a {
  list-style: none;
  display: inline-block;
  float: left;
  color: black;
}

#block-footer--2 ul li a:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: black;
}

#block-footer ul li a:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: black;
}

#block-footer ul li:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: black;
}

.front #block-footer--2 ul li a:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: white;
}

.front footer #block-footer ul li a:first-child {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  float: left;
  color: white;
}



#block-footer--2 ul {
  width: 100%;
  min-width: 400px;
  float: right;
  margin: 0px;
  padding: 0 !important;
  font-size: 12px;
}

.front footer #block-footer ul {
  width: 100%;
  min-width: 400px;
  float: right;
  margin: 0px;
  padding: 0 !important;
  font-size: 12px;
}

footer #block-footer ul {
  width: 100%;
  min-width: 400px;
  float: right;
  margin: 0px;
  padding: 0 !important;
  font-size: 12px;
}

.hello-text {
	width: 70%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: black;
	padding-left: 0px;
	font-size: 11px;
}

.front .hello-text {
	width: 70%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: white;
	padding-left: 0px;
	font-size: 11px;
}

.hello {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg-fon {
	height: 100px;
	background: rgba(0, 0, 0, 0) url('/themes/custom/survey/images/hello.png') no-repeat scroll 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 50;
	width: 100%;
}

#rootwizard .navbar-inner ul li a {
	cursor: unset;
}

.front .bg-fon {
	background: none !important;
}

.front .bg-image {
	background: none !important;
}

.bg-image {
	height: 100px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position-y: -414px !important;
  position: fixed;
  width: 100%;
  z-index: 50;
  padding: 0;
  margin: 0;
}

#block-topheaderblock-2 {
	height: 100%;
	padding: 0;
	margin: 0;
}

footer {
	position: none;
}

.logo-header {
	padding-top: 15px;
}

header {
  height: 100px;
  width: 100%;
}

.front footer {
	position: absolute;
}

.front main {
	position: relative;
}

main {
  width: 100%;
}

.first-title {
	margin: 0;
	padding: 0;
}

.asCheck_checked {
	border: 1px solid green !important;
}


.js-form-type-textfield > span:nth-child(2) {
	display: none !important;
}

.front footer {
	padding-top: 0 !important;
}

#block-firststepblock {
	width: 100%;
}

#block-firststepblock .body-first {
	width: 68%;
  display: inline-block;
  float: left;
  margin-right: 3%;
}

#block-firststepblock img {
	display: block;
	height: 100%;
  max-width: 20%;
  float: left;
  max-height: 285px;
}

.two-column {
	width: 100%;
	max-width: 100%;
}

.main-region {
	width: 70%;
	margin-right: 5%;
	float: left;
	display: inline-block;
}

.sidebar-region {
	width: 25%;
	float: left;
	display: inline-block;
}

.banner-title {
	color: white;
  font-weight: bold;
  margin-left: 5%;
  margin-right: 20%;
  font-size: 22px;
  margin-bottom: 10px !important;
  padding-top: 10px;
}

.banner-text {
	color: white;
  margin-left: 5%;
  margin-right: 20%;
  font-size: 13px;
}

.text-number {
  border-top: 1px solid white;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid white;
  margin-top: 15px !important;
}

.about-banner {
	display: block;
	background-color: gray;
}

.banner-number {
	color: white;
  margin-left: 12%;
  margin-right: 15%;
  font-size: 22px;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

.banner-link {
  display: block;
  color: white;
  background-color: #1377d5;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  height: 100%;
  margin-bottom: 2% !important;
  text-align: center;
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.about-banner {
	padding-bottom: 1px;
}

.first-title {
	font-size: 35px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-bottom: 20px!important;
}

.first-height {
	line-height: 26px;
	font-size: 19px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.first-low {
	font-size: 17px;
	line-height: 1.618em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header-mobile-menu {
	display: none;
}


.front header {
	position: relative !important;
  height: none;
  width: none;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.subm-reg {
	width: 100%;
	float: left;
}

#contact-message-feedback-form {
	margin-top: 20px;
}

#contact-message-feedback-form #edit-name input {
	width: 55%;
	border-radius: 0 !important;
	border: 1px solid #1377d5;
}

#contact-message-feedback-form #edit-name {
	width: 30%;
	border-radius: 3px;
}

#contact-message-feedback-form #edit-mail input {
	width: 55%;
	display: inline-grid;
	border-radius: 0 !important;
	border: 1px solid #1377d5;
	padding-left: 10px;
}

#contact-message-feedback-form #edit-mail {
	width: 30%;
	display: inline-grid;
	border-radius: 3px;
	border: none;
	padding: 0;
}

#block-about-2 h2 {
	margin-top: 40px;
}

#contact-message-feedback-form input {
	border: 1px solid #1377d5 !important;
}

#contact-message-feedback-form label {
	margin-top: 10px;
}

#edit-subject-wrapper {
	margin-top: 6px;
}

#block-footer > ul:nth-child(2) > li:nth-child(3) > a:nth-child(1) {
  border-bottom: none !important;
}


#contact-message-feedback-form label {
	width: 100%;
	display: inline-grid;
	text-align: left;
	padding-left: 22.5%;
	color: #1377d5;
	font-size: 12px;
}

#edit-subject-0-value {
	width: 30%;
	border: 1px solid #1377d5;
	border-radius: 3px;
}

#edit-message-0-value {
  width: 55%;
  resize: none;
  height: 170px;
  border: 1px solid #1377d5;
  border-radius: 0 !important;
}

#contact-message-feedback-form #edit-submit {
	color: #fff;
	border: 1px solid #555;
	cursor: pointer;
	margin: 10px 1px;
	background-color: #1377d5 !important;
	font-size: 14px;
	padding: 5px 22px;
	border-radius: 0;
	width: 55%;
	font-weight: bold;

}

#block-examplesblock {
  margin-top: 40px;
  height: 300px;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

#block-examplesblock img {
  display: block;
  height: 100%;
  max-width: 42%;
  float: left;
  max-height: 285px;
}

#block-examplesblock .body-first {
  width: 53%;
  display: inline-block;
  float: left;
  margin-right: 5%;
}

.tab-content fieldset legend span.has-error {
	color: red
}

#contact-message-feedback-form #edit-name {
	width: 100%;
}

#contact-message-feedback-form #edit-mail {
	width: 100%;
}

.front .bg-image {
	position: relative;
}

#edit-field-monthly-wrapper .flag-dropdown {
	width: 100%;
}

#edit-field-city-0-value {
  border: solid 1px #d7d7d7;
  padding-left: 10px;
  float: right;
}

#edit-field-monthly-wrapper .flag-dropdown .country-list {
	width: 100%;
}

#edit-field-monthly-0-value {
	width: 100%;
}

#edit-field-monthly-wrapper .intl-tel-input {
	width: 100%;
}


html.bagr {
	height: 100%;
}

#select2-edit-field-monthly-container {
	background-image: url('/themes/custom/survey/images/Shape 2.png');
	background-repeat: no-repeat;
	background-position-x: 94%;
	background-size: 3.5%;
	background-position-y: 50%;
}

.result-text {
	padding-top: 40px;
}

.result-text .result-main {
	font-size: 22px;
	margin-top: 30px;
	color: #1377d5;
}


.faqs .question1 {
	width: 73%;
	float: left;
	font-size: 20px;
}

.faq-text {
	width: 100%;
	float: left;
	font-size: 18px;
	padding-top: 50px;
}

.form-item-pass-pass1 {
	width: 36%;
	float: left;
}

.hello-pass {
	width: 36%;
	float: left;
	display: grid;
}

.link-app {
	font-size: 18px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-size: 19px;
  padding-top: -9px;
  background-position-y: 4px;
  padding-bottom: 15px;
}

.link-app a {
	background-image: url('/themes/custom/survey/images/icons/143274.png');
	background-repeat: no-repeat;
  padding-left: 22px;
  background-size: 13px;
  background-position-y: 5px;
  font-size: 21px;
  color: #1377d5 !important;
}

.faqs {
	padding-top: 30px;
}

.banner-title-faq {
	color: white;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding-top: 20px;
}

.banner-link-faq {
  display: block;
  color: white;
  background-color: #1377d5;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 45px;
  height: 100%;
  margin-bottom: 2% !important;
  text-align: center;
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.link-app a.down {
	background-image: url('/themes/custom/survey/images/icons/expand21600.png') !important;
	background-size: 16px;
}

.title-faq {
	color: #1377d5 !important;
}

.sub-faq {
	color: gray;
	font-size: 15px !important;
	border-bottom: 1px solid rgb(232, 225, 225);
	padding-bottom: 10px;
}

.faqs .answ1 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
}

.faqs .answ1.active {
	display: block;
	padding-left: 22px;
}

.faqs .question2 {
	width: 73%;
	float: left;
	font-size: 20px;
}

.faqs .question3 {
	width: 73%;
	float: left;
	font-size: 20px;
}

.faqs .question4 {
	width: 73%;
	float: left;
	font-size: 20px;
}

.faqs .question5 {
	width: 73%;
	float: left;
	font-size: 20px;
}

.faqs .question6 {
	width: 73%;
	float: left;
	font-size: 20px;
}

.faqs .question7 {
	width: 73%;
	float: left;
	font-size: 20px;
}

.faqs .question8 {
	width: 73%;
	float: left;
	font-size: 20px;
}

.faqs .question9 {
	width: 73%;
	float: left;
	font-size: 20px;
}





.con-text {
	border-bottom: 1px solid #1377d5;
	color: #1377d5;
}


.faqs .answ2 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
	padding-left: 18px;
}

.faqs .answ2.active {
	display: block;
}

.faqs .answ3 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
	padding-left: 18px;
}

.faqs .answ3.active {
	display: block;
}

.faqs .answ4 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
	padding-left: 18px;
}

.faqs .answ4.active {
	display: block;
}
.faqs .answ5 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
	padding-left: 18px;
}

.faqs .answ5.active {
	display: block;
}
.faqs .answ6 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
	padding-left: 18px;
}

.faqs .answ6.active {
	display: block;
}

.faqs .answ7 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
	padding-left: 18px;
}

.faqs .answ7.active {
	display: block;
}

.faqs .answ8 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
	padding-left: 18px;
}

.faqs .answ8.active {
	display: block;
}

.faqs .answ9 {
	width: 100%;
	float: left;
	display: none;
	font-size: 18px;
	font-style: italic;
	color: #1377d5;
	padding-left: 18px;
}

.faqs .answ9.active {
	display: block;
}





.result-risk {
	float: left;
	width: 100%;
	color: #1377d5;
	font-size: 22px;
	margin-bottom: 30px;
}

.result-res {
	text-align: center;
}

.result-congr {
	text-align: center;
}

#contact-message-feedback-form {
	margin-top: 40px;
	margin-bottom: 9%;
}

#block-about-2 {
	margin-top: 40px;
	margin-bottom: 12%;
}

#block-footer > ul:nth-child(2) > li:nth-child(3) > a:nth-child(1) {
	border-bottom: none !important;
}

#contact-message-feedback-form > div.category-block.js-form-item.form-item.js-form-type-checkbox.form-item-copy.js-form-item-copy {
  display: none;
}

.send-res {
	float: left;
	width: 50%;
	text-align: center;
	font-size: 18px;
  height: 190px;
}

.send-mes {
	color: #338b33;
	text-align: center;
	font-size: 18px;
}


.again-button {
	width: 60%;
}

#feedback-form #edit-submit {
	float: right;
	display: block;
	width: 45%;
	text-align: center;
	color: #fff;
	border: 1px solid #555;
	cursor: pointer;
	background-color: #1377d5 !important;
	font-size: 14px;
	padding: 5px 22px;
	border-radius: 3px;
	margin: 0;
}


div.throbber {
	display: none !important;
}


.send-newsletter {
	display: none;
	color: #338b33;
}

.send-newsletter.open {
	display: block;
	position: absolute;
	margin-left: 67%;
	padding-top: 50px;
}


.main-frontpage-block {
	margin-bottom: 20px;
}

html,
body {
   margin:0;
   padding:0;
   height: calc(100% - 10.5px);
}

.again-button {
	width: 45%;
	text-align: center;
	background-color: ;
	color: #fff;
	border: 1px solid #555;
	cursor: pointer;
	margin: 10px 1px;
	background-color: #1377d5 !important;
	font-size: 14px;
	padding: 5px 22px;
	border-radius: 3px;
	margin: 0;
}

.again-button:hover {
	color: white !important;
}

#block-footerblock {
	padding-top: 0;
}

.front #block-footerblock {
	padding-top: 50px;
}

.layout-container {
  min-height: 100%;
  position:relative;
}

#question-form .js-form-type-textfield {
  width: 40%;
  margin: 0 auto;
  display: block;
}



.if-text {
	width: 100%;
    float: left;
    font-size: 20px;
    padding-top: 20px;
}

.link-logout {
	display: block;
    width: 25%;
    text-align: center;
    color: #fff;
    border: 1px solid #555;
    cursor: pointer;
    margin: 10px 1px;
    background-color: #1377d5 !important;
    font-size: 14px;
    padding: 5px 22px;
    border-radius: 3px;
    margin: 0;
    margin-top: 15px;
}

.if-link {
	width: 100%;
	float: left;
}

main {
  padding:10px;
  padding-bottom: 160px;
}

.first-low {
	line-height: 28px;
}

.first-height {
	padding-top: 5px;
	line-height: 28px;
}

.front .layout-container {
  min-height: unset;
  position:relative;
}

.front main {
	padding-bottom: 14.2% !important;
	padding-top: 200px;
	margin-top: 0;
}

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  margin: 0;
}

.result footer {
  position: relative;
}

.front main {
	padding: unset;
	padding-bottom: 0;
	height: 100%;
  padding-bottom: 10% !important;
}

.front footer {
	height: unset;
}

.form-item-text #edit-text {
	display: none;
}

.form-item-text #edit-text.hejsa {
	display: block;
}

.form-item-text1 {
	width: 40%;
	margin: 0 auto;
	display: block;
}

#edit-field-monthly-wrapper {
	padding-bottom: 20px;
}

.form-item-text1 input {
	width: 80%;
	margin-right: 20%;
	float: left;
}

.form-item-text3 input {
	width: 80%;
	margin-right: 20%;
	float: left;
}

.form-item-text8 input {
	width: 80%;
	margin-right: 20%;
	float: left;
}

.form-item-text14 input {
	width: 80%;
	margin-right: 20%;
	float: left;
}

.form-item-text17 input {
	width: 80%;
	margin-right: 20%;
	float: left;
}

#edit-field-full-name-wrapper .form-item-field-full-name-0-value {
	display: inline-grid;
}

#edit-field-full-name-wrapper .form-item-field-monthly-0-value {
	display: inline-grid;
}

.form-item-text20 {
	width: 40%;
	margin: 0 auto;
	display: block;
}

.form-item-text8 {
	width: 40%;
	margin: 0 auto;
	display: block;
}

.form-item-text14 {
	width: 40%;
	margin: 0 auto;
	display: block;
}

.form-item-text17 {
	width: 40%;
	margin: 0 auto;
	display: block;
}

.form-item-text20 {
	width: 40%;
	margin: 0 auto;
	display: block;
}

.if-regist {
		padding-top: 40px;
		font-size: 20px;
}

.questionary .send-mes {
	display: none;
}

#block-about-2 {
	margin-top: 0;
	padding-top: 40px;
}

.talk {
	color: #1377d5;
	width: 40%;
	font-weight: bold;
}

.talk-down {
	color: #1377d5;
	width: 70%;
	font-size: 14px;
}

.for-any {
	color: #1377d5;
  font-size: 15px;
  font-family: Garamond Header;
  width: 80%;
}

#contact-message-feedback-form {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	width: 40% !important;
	margin-left: 12.5%;
	text-align: -webkit-center;
	padding-top: 5%;
}

#block-contactinfo {
	float: right;
	width: 30%;
	margin-right: 16.5%;
	padding-top: 8%;
	text-align: center;
}

.text-info-contact {
  text-transform: uppercase;
  padding-top: 25px;
  color: #1377d5;
  font-weight: bold;
  font-size: 17px;
  width: 80%;
}

.conact-phone {
	padding-top: 20px;
	width: 80%;
	color: #1377d5;
	font-weight: bold;
	font-size: 22px;
}

.face-contact img {
	width: 13%;
  border-radius: 14px;
}

.social-contact {
	padding-top: 20px;
	width: 80%;
}

.twit-contact img {
	width: 13%;
  border-radius: 14px
}

#block-about-2 {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#block-examplesblock {
	margin-bottom: 0;
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 40px;
	padding-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

.feedback-res {
  width: 50%;
  text-align: center;
  font-size: 18px;
}

html.bagr {
	height: 100%;
}

body.front {
	height: 100%;
}

.front #block-sitebranding {
  width: 33% !important;
}


@media (min-width: 1400px) {


	.front main {
		padding-top: 40px;
	    height: 100%;
	}

	#block-frontpage {
		margin-top: 14% !important;
	}

	.container {
		width: 1200px !important;
	}

	.front .lorem-title {
		font-size: 52px;
	}


	.front .lorem-text {
		color: white;
    font-family: HelveticaNeue;
    font-size: 24px;
    line-height: 30px;
	}

	.front #block-frontpage {
		width: 34%;
	}

}

@media (max-width: 1399px) {
	html.contact {
		height: auto !important;
	}
}

@media (max-width: 1399px) and (min-width: 1100px) {
	.front main {
		padding-top: 40px;
	    height: 100%;
	}

	.front .lorem-title {
		font-size: 40px;
	}


	.first-title {
		font-size: 28px;
	}

	.first-height {
		font-size: 16px;
	}

	.first-low {
		font-size: 13px;
	}

	#block-firststepblock img {
		max-height: 250px;
	}

	.front .lorem-text {
		color: white;
    font-family: HelveticaNeue;
    font-size: 19px;
	}

	.front #block-frontpage {
		width: 38%;
	}
}


@media (max-width: 1399px) and (min-width: 1200px) {
	#block-frontpage {
		margin-top: 14% !important;
	}

	.banner-number {
		color: white;
	  margin-left: 12%;
	  margin-right: 15%;
	  font-size: 18px;
	  margin-bottom: 15px !important;
	  margin-top: 15px !important;
	}

	.banner-title {
		font-size: 18px;
	}
}
/*@media (min-width: 1700px) {
	.front main {
		padding-top: 180px;
    	height: 100%;
    	min-height: 785px !important;
	}
}*/

@media (min-width: 1500px) {
	.container {
		width: 1300px !important;
	}

		html.bagr {
		height: 100%;
	}

		body.front {
			height: 100%;
		}

	.front main {
		padding-top: 40px;
    	height: 100%;
	}

	.bg-image {
		background-position-y: -452px;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 479px) {
	.talk {
		color: #1377d5;
		width: 95%;
		margin-left: 5%;
		font-size: 29px;
		font-weight: unset !important;
	}

	.talk-down {
		color: #1377d5;
    width: 95%;
    font-size: 10px;
    text-align: center;
    margin-left: 5%;
	}



	#block-footer > ul:nth-child(2) > li:nth-child(3) > a:nth-child(1) {
		border-bottom: 1px solid !important;
	}

	.body-first {
		width: 90% !important;
		margin-left: 5%;
	}

	.front #block-sitebranding {
	  width: 95% !important;
	}

	.container {
		width: 100%;
	}

	footer #block-footer {
		display: none;
	}

	footer #block-footer--2 {
		display: none;
	}

	#block-footer ul li {
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}

	#block-footer--2 ul li {
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}

	#block-footer ul {
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
		padding-left: 43%;
		float: none !important;
	}

	#block-footer--2 ul {
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
		padding-left: 43%;
		float: none !important;
	}

	#block-sitebranding {
		margin-bottom: 20px;
	}

	.front #block-topheaderblock-2 {
		height: unset;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.front #block-topheaderblock {
		height: unset;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	#block-topheaderblock {
		height: 100px;
		padding-bottom: 30px;
		margin-bottom: 50px;
	}

	#block-topheaderblock-2 {
		height: unset;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	#block-footer--2 ul {
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
		padding-left: 43%;
	}

	#block-sitebranding {
		width: 100%;
		display: block;
		width: 100% !important;
		text-align: center;
		height: 100% !important;
	}


	.header-mobile-menu {
		display: block !important;
	}

	.header-mobile-menu {
		color: white;
	}

	.logo-header .header-menu {
		float: none;
		padding-top: 0;
		padding-bottom: 137px;
	}

	#block-footer {
		display: block;
	}

	#block-topheaderblock-2 {

	}

	header {
		height: 100% !important;

	}

	.site-logo img {
		min-width: 0 !important;
	}

	.front main {
		position: relative;
	}

	main {
		position: relative;
	}


	.header-menu #block-footer ul li a {
		font-size: 16px;
		color: white;
		display: block;
		background-color: #4b9ace;
		height: 40px;
		padding-top: 10px;
		padding-left: 39%;
		width: 90%;
		margin-left: 5%;
		border-bottom: 1px solid;
	}

	.header-menu {
		display: none !important;
	}

	.header-menu.help {
		display: block !important;
	}

	#block-footer > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {

	}

	#block-footer > ul:nth-child(2) > li:nth-child(5) > a:nth-child(1) {
		margin-bottom: 10px;
		border-radius: 0 0 4px 4px;
		border-bottom: none;
	}

	#block-about-2  {
		margin-top: 0 !important;
	}

	#block-about  {
		margin-top: 0 !important;
	}

	#block-examplesblock {
		margin-top: 10px !important;
	}

	#block-examplesblock-2 {
		margin-top: 10px !important;
	}

	#block-footer ul li a.is-active {
		display: none;
	}

	.main-frontpage-block {
		margin-top: 10px !important;
	}



	#hel-hel.active {
		border-radius: 4px 4px 0 0;
		color: #23527c;
		border-bottom: 1px solid #23527c;
	}

	#block-footer ul li a:hover {
		background-color: #67CDF0;
	}

	#block-examplesblock img {
		display: none !important;
	}

	#contact-message-feedback-form #edit-mail {
		width: 100%;
	}

	#contact-message-feedback-form #edit-actions {
		margin-left: 5%;
	}

	#block-about {
		width: 90%;
	}

	#block-about-2 {
		width: 90%;
	}

	footer {
		padding-top: 0;
	}

	#edit-message-0-value {
		width: 100%;
	}

	#edit-subject-0-value {
		margin-left: 5%;
		width: 90%;
	}

	#contact-message-feedback-form #edit-name {
		width: 100% !important;
	}

 	#contact-message-feedback-form label {
 		width: 100%;
 	}
	main {
		position: unset !important;
		height: 100%;
	}

	header {
		height: 100%;
	}


	.lorem-title {
		text-align: center;
		margin-bottom: 0;
		padding-bottom: 0;
		width: 100%;
		font-size: 30px;
	}

	.lorem-title.active {
		margin-top: 0;
	}

	.header-mobile-menu {
		display: block !important;
		margin-left: 5%;
		width: 90%;
	}

	.header-mobile-menu a {
		background-image: url('/themes/custom/survey/images/Rectangle 1.png');
		background-position: 95% 16px;
		background-repeat: no-repeat;
	}

	#block-frontpage {
		margin-top: 13%;
		width: 100%;
	}

	#block-contactinfo {
		width: 90% !important;
		margin-left: 5%;
	}

	.for-any {
		color: #1377d5;
    font-size: 15px;
    font-family: Garamond Header;
    width: 90%;
    margin-left: 20%;
	}

	.text-info-contact {
		width: 90%;
    margin-left: 20%;
	}

	.text-info-contact {
		font-size: 11px;
		padding-top: 5px;
	}

	.conact-phone {
		font-size: 14px;
	}

	.conact-phone {
		width: 90%;
    margin-left: 20%;
    padding-top: 5px;
	}

	.main-region {
		width: 100%;
	}

	.about-banner {
		display: none;
	}

	.social-contact {
		width: 90%;
    margin-left: 20%;
    padding-top: 5px;
    padding-bottom: 20px;
	}

	#contact-message-feedback-form {
		width: 90% !important;
		margin-left: 5%;
		margin-bottom: 0;
		padding-bottom: 0;
		margin-top: 0;
		padding-top: 10px;
		text-align: left;
	}

	.lorem-text {
		color: white;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 20px;
		line-height: 1.618em !important;
		text-align: center;
		width: 80%;
		margin-left: 10%;
	}

	html {
		min-height: 100% !important;
		height: unset;
	}

	html.bagr {
		min-height: 100% !important;
		height: unset;
	}

	body.front {
		min-height: 100% !important;
		height: unset;
	}

	body {
		min-height: 100% !important;
		height: unset;
	}

	.header-mobile-menu a {
		font-size: 16px;
		color: white;
		display: block;
		background-color: #4b9ace;
		height: 40px;
		padding-top: 10px;
		border-radius: 4px;
		padding-left: 43%;
	}

	#block-frontpage a.letsgo {
		display: block;
		background-color: #5fb760;
		width: 40%;
		text-decoration: none;
		cursor: pointer;
		border-radius: 4px;
		text-align: center;
		top: 10px;
		color: #fff;
		font-size: 18px;
		line-height: 44px;
		margin-left: 30%;
	}

	.front #block-footerblock {
		padding: 0;
		padding-top: 20px !important;
    padding-bottom: 20px;
	}

	#block-footerblock {
		padding: 0;
	}

	.hello-text {
		width: 79% !important;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		color: black;
		padding-left: 0px;
		font-size: 11px;
		margin-left: 5%;
	}

	.first-low {
		display: none;
	}

	#block-firststepblock img {
		display: none;
	}

	.front .hello-text {
		color: white;
	}


	.bg-fon {
		min-height: 150px;
		height: unset !important;
	}

	.bg-image {
		min-height: 150px;
		background-position-y: unset !important;
		position: unset !important;
		height: unset !important;
	}

	footer {
		position: inherit !important;
		height: 100%;
	}

	.pers {
		width: 90%;
		margin-left: 5%;
		font-weight: bold;
	}


	#edit-field-full-name-0-value {
		border-radius: 3px;
		width: 100% !important;
	}

	#edit-field-full-name-wrapper {
		width: 90%;
		margin-left: 5%;
	}

	#edit-field-company-wrapper {
		width: 90%;
		margin-left: 5%;
		margin-top: 15px;
	}

	#edit-field-city-wrapper {
		width: 90%;
		margin-left: 5%;
		margin-top: 15px;
	}

	#edit-field-city-0-value {
		width: 100%;
		border-radius: 3px;
	}

	.account-info {
		width: 90%;
		margin-left: 5%;
		font-weight: bold;
		margin-top: 10px;
	}

	.account-mail input {
		width: 100% !important;
		border-radius: 3px;
	}

	.account-mail {
		width: 100%;
	}


	#edit-field-monthly-wrapper {
		width: 90%;
		margin-left: 5%;
		margin-top: 15px;
	}

	#edit-pass .category-block {
		width: 100%;
		margin-top: 15px;
	}

	.subm-reg {
		width: 90%;
		float: left;
		margin-left: 5%;
	}

	#edit-pass .category-block {
		margin-bottom: 15px;
	}

	#edit-pass-pass2 {
		width: 100%;
		border-radius: 3px;
		font-weight: 500;
	}

	.account-pass {
		width: 100%;
	}

	#edit-pass-pass1 {
		width: 100%;
		border-radius: 3px;
		font-weight: 500;
	}

	#edit-field-company-0-value {
		width: 100%;
		border-radius: 3px;
	}

	#user-register-form #edit-mail {
		font-weight: 500;
	}

	#contact-message-feedback-form #edit-submit {
		margin-left: 5%;
	}

	main {
		padding-bottom: 20px;
	}

	body {
	  height: unset !important;
	}

	html {
		height: unset !important;
	}

	#question-form .js-form-type-textfield {
	  width: 80%;
	  margin: 0 auto;
	  display: block;
	}

	.form-item-question3 .option {
		max-width: 80%;
	}

	div.form-item-question3:nth-child(5) > label:nth-child(4) {
		display: none;
	}

	#contact-message-feedback-form #edit-mail input {
		width: 100%
	}

	#edit-subject-0-value {
		width: 100%;
	}

	.form-item-subject-0-value > label:nth-child(1) {
		margin-left: 10% !important;
		width: 80%;
	}

	#contact-message-feedback-form label {
		margin-left: 0%;
	}



	#contact-message-feedback-form #edit-message-0-value {
		width: 100% !important;
	}

	#contact-message-feedback-form #edit-submit {
		margin-left: 0%;
	}

	#contact-message-feedback-form .js-form-type-textarea > label:nth-child(1) {
		margin-left: 0% !important;
	}

	#contact-message-feedback-form #edit-submit {
		width: 100% !important;
	}

	#contact-message-feedback-form label {
		padding-left: 0 !important;
	}

	.send-res {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#feedback-form #edit-submit {
		width: 100%;
	}

	.result-congr {
		line-height: 33px;
	}

	.result-main {
		line-height: 33px;
	}

	.lorem-title {
		padding-bottom: 10px;
	}

	.result-info {
		line-height: 33px;
	}

	.result-risk {
		line-height: 33px;
	}

	.again-button {
		width: 100%;
	}

	.if-text {
		width: 95%;
		margin-left: 5%;
	}

	.if-link {
		width: 95%;
		margin-left: 5%;
	}

	.link-logout {
		width: 90%;
	}

	.if-regist {
		padding-top: 90px;
	}

	.feedback-res {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.result-text .result-main {
		text-align: center;

	}

	.result-risk {
		text-align: center;
	}

	.result-info {
		text-align: center;
	}

	.faqs {
		width: 100% !important;
		padding-top: 20px;
	}

	.faqs .question1 {
		width: 90%;
		float: left;
		font-size: 22px;
	}

	.faqs .show1 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}


	.faqs .answ3 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .question3 {
		width: 90%;
		float: left;
		font-size: 22px;
	}

	.faqs .show3 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}


	.faqs .answ4 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .question4 {
		width: 90%;
		float: left;
		font-size: 22px;
	}

	.faqs .show4 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}


	.faqs .answ5 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .question5 {
		width: 90%;
		float: left;
		font-size: 22px;
	}

	.faqs .show5 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}


	.faqs .answ6 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .question6 {
		width: 90%;
		float: left;
		font-size: 22px;
	}

	.faqs .show6 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}


	.faqs .answ7 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .question7 {
		width: 90%;
		float: left;
		font-size: 22px;
	}

	.faqs .show7 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}

	.sub-faq {
		font-size: 11px !important;
	}

	.form-item-pass-pass1 {
		width: 100%;
		padding-top: 10px;
	}

	#edit-field-city-wrapper label {
		margin-left: 0;
	}

	.hello-pass {
		width: 105%;
		padding-top: 10px;
	}

	.faqs .answ8 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .question8 {
		width: 90%;
		float: left;
		font-size: 22px;
	}

	.faq-text {
		font-size: 14px;
	}

	.faqs .show8 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}


	.faqs .answ8 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .question9 {
		width: 90%;
		float: left;
		font-size: 22px;
	}

	.faqs .show9 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}


	.faqs .answ9 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .answ1.active {
		display: block;
		font-size: 12px;
	}

.faqs .question2 {
	width: 90%;
	float: left;
	font-size: 22px;
}


	.faqs .show2 {
		width: 90%;
		float: left;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}

	.send-newsletter.open {
		position: relative;
		padding-top: 94px;
		margin: 0;
		text-align: center;
	}


	.faqs .answ2 {
		width: 90%;
		float: left;
		display: none;
		font-size: 12px;
		color: #1377d5;
	}

	.faqs .answ2.active {
		display: block;
	}

	#block-footerblock {
		padding-top: 20px !important;
		padding-bottom: 10px;
	}

	#edit-field-monthly-wrapper {

		margin-bottom: -15px;
	}

}

.items div:nth-child(2) {
  display: none;
}

.items div:nth-child(3) {
  display: none;
}

.items div p {
  padding-top: 2vw;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
}

.result-congr h3 {
  margin-top: -25px;
  font-size: 20px;
}

.result-main{
  display: flex;
}

.result-main .items {
  width: 44%;
  text-align: center;
  box-shadow: 5px 6px 20px #cbcbcb;
  padding: 5%;
  border-radius: 6px;
}

.main-reason {
  color: white;
  height: fit-content;
  padding: 2%;
  background-color: grey;
  border: 1px solid #cbcbcb;
  position: relative;
  left: 15%;
}

.main-reason li {
  font-size: 16px;
  padding-top: 10px;
  margin-left: 15px;
}

.main-reason h5 {
  font-size: 20px;
}

.send-res {
  width: 100%;
  float: none;
  padding-top: 2%;
  margin-top: 2%;
  background-color: grey;
  color: white;
}

.send-res p {
  font-size: 18px;
  padding-left: 8%;
  padding-right: 8%;
}

  .sidebar-menu {
    padding-top: 1%;
  }

.sidebar-menu p {
  font-size: 18px;
}

.again-button {
  float: left;
  width: 10%;
  position: relative;
  left: 20%;
}

.again-button:hover {
  text-decoration: none;
}

#feedback-form #edit-submit {
  width: 20%;
  float: right;
  position: relative;
  right: -52%;;
}

.send-res strong {
  color: black;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.main-reason li:nth-child(2) {
  animation-name: bounceInRight;
  animation-duration: 1s;
}

.main-reason li:nth-child(3) {
  animation-name: bounceInRight;
  animation-duration: 2s;
}

.main-reason li:nth-child(4) {
  animation-name: bounceInRight;
  animation-duration: 3s;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

#feedback-form #edit-submit {
  animation: pulse 1s infinite;
}

.result footer {
  background-color: #f7f7f7;
  padding-top: 0;
}

.result main {
  padding: 0;s
}

@media screen and (max-width: 479px) {

  .result-main {
    display: table-caption;
    width: 100%;
    display: block;
  }

  .main-reason {
    left: 0;
    margin-top: 5%;
  }

  .result-main .items {
    width: 100%;

  }

  .send-res {
    margin: 0;
    height: 390px;
    margin-top: 5%;
  }

  .again-button {
    width: 25%;
    left: 11%;
  }

  #feedback-form #edit-submit {
    width: 35%;
    position: relative;
    left: 0%;
  }

}

@media screen and (max-width: 378px) {
  .send-res {
    height: 465px;
  }

  .again-button {
    width: 32%;
  }

  #feedback-form #edit-submit {
    width: 45%;
  }

  .elements-result img {
    width: 100%;
  }

  .main-reason li {
    font-size: 15px;
  }

}

@media (min-width: 478px) and (max-width: 1030px) {
  .elements-result img {
    width: 100%;
  }

  .result-main {
    width: 100%;
    display: inline-flex;
  }

  .main-reason {
    width: 50%;
    margin-left: 4%;
    left: 0;
  }

  .send-res {
    height: 255px;
  }

  .again-button {
    width: 14%;
  }

  #feedback-form #edit-submit {
    width: 32%;
  }

}
